* {
    margin: 0;
    padding: 0;
   }

.container-grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:auto;
}

   body{ font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding:0 ;
    display: grid;
   gap: 1rem;
   grid-template-rows: auto 1fr auto ;
   min-height: 100vh;
   grid: template columns 1fr;;
   grid-template-areas: 
   "header"
   "main"
   "footer"
   ;

}
   h1 {
       color: rgb(12, 12, 48);
    }

    .nav__link {
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
    }

    header {background-color: rgb(107, 21, 177);
        background-image: url(https://placeimg.com/200/150/tech);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

.display-2 {text-transform: initial;
    color: darkslateblue;
    font-size: 4.5rem;
    font-weight: 400;
}
.display-2-Titulo {font-weight: 700;
}

.display-2-Intro {font-size: 1.4rem;
}

section {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  article {
    display: flex;
    flex: 0 1 300px;
    flex-direction: column;
    border: 1px solid blueviolet;
    border-radius: 1rem;
    padding: 2rem;
  }
  
  article img {
    order: -1;
    align-self: center;
  }
  
  article button {
    background: blueviolet;
    color:white;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
  footer{
    grid-area: footer;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
}